<div class="carousel-inner">
    {{#each this}}
    <div class="carousel-item {{#if @first}}active{{/if}}">
        <div class="row">
            <div class="col-md-6 bottle">
                <div class="image">
                    <img src="{{image_url}}" alt="{{name}}" />
                </div>
            </div>
            <div class="col-md-6 desc">
                <div class="text">
                    <h2>{{name}}</h2>
                    <p>{{tagline}}</p>
                    <p>{{description}}</p>
                    <ul>
                        {{#each food_pairing}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>